<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="../static/styleDash.css">

    <title>Dashboard</title>
  </head>
  <body>
    <h1>Welcome {{userName}}</h1>
    <div class="container">
      <div class="heading">
        <h3>Expense Tracker</h3>
        <form method="post" action="/logout">
        <button type="submit">LOG OUT</button>
        </form>
        
      </div>
      <div class="tbalance">
        <h4>Your Total Balance</h4>
        <h4>₹{{totalBal}}</h4>
      </div>
   
    <div class="income-expense">

      <table style="width:100%">
  <tr>
    <th class="income">Income</th>
    <th class="expense">Expense</th>
  </tr>
  <tr>
    <td>₹{{Incomesum}}</td>
    <td>₹{{Expensesum}}</td>
  </tr>

</table>
    </div>

    <div class="transcation-history">
      <h3>Transcation History</h3>
    <table style="width:100%">
      <tr>
    <th >name</th>
    <th>money</th>
    <th>Income/Expense</th>
    <th>Action</th>
  

   {{#each duserRecord}}
<tr>
      <td>{{this.purposeuser}}</td>
      <td>₹{{this.addmoney}}</td>
      <td>{{this.incexp}}</td>
      <td><a href="dashboard1/delete/{{this.id}}"> X</a></td>
    </tr>
    {{/each}}



  </table>
  
    </div>
  
    <div class="newtranscation">
      <h3>Add new Transcation</h3>
     <form method="post" action="/add">
     <div class="logged">
     Logged User:<input type="text" id="loggeduser" name="loggeduser" value="{{userName}}" readonly><br>
     </div>
    
       <label for="name" id="newnamel">Name</label>
      <input type="text" id="newname" name="purposeuser"><br>

      <label for="amount" id="newamountl">Amount</label>
      <input type="number" id="newamount" name="addmoney" min="1" max="999999999999999999999"><br>

      <button type="submit" name="incexp" value="Income">Add Income</button>
      <button type="submit" name="incexp" value="Expense"> Add Expense</button>
      

    </form>
</div>
   </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

   
  </body>
</html>